*__pycache__/
exps/*
script/*
slurm/*
output/*
*.pth
*.pt
*.jpg
*.png
*.jpeg
*.npy
PerceptualSimilarity/dataset/*
adv-training-corruptions/data/*
fast-wasserstein-adversarial/data/*
*.tar
*.tar.gz
advex-uar/advex_uar/cifar-10-batches-py/*
advex-uar/advex_uar/wandb/*
*.out
perceptual-advex/data/*